/* stylesheet for pages w/ map */
body {
	font-family: sans-serif;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

/* generic classes */
.hidden {
	display: none !important;
}
.container {
	display: flex;
	align-items: stretch;
	height: 100%;
}

/* sidebar */
.sidebar {
	background: white;
	color: black;
	padding: 1em;
	font-size: 14pt;
	width: 400px;
	overflow-y: auto;
	box-sizing: border-box;
	height: 100vh;
}
.sidebar div {
	margin-top: 1ex;
}
.sidebar button, .sidebar label {
	font-size: 16pt;
	width: 20ex;
	margin: 1pt auto;
}
.sidebar h1 {
	text-align: center;
}
.sidebar canvas {
	margin: auto;
	display: block;
}
.sidebar > div > b {
	width: 100px;
	display: inline-block;
}

/* sidebar collapse */
.collapsable {
	position: absolute;
	display: flex;
	height: 100%;
	max-width: 100vw;
}
.collapsebtn {
	width: 32px;
	background: grey;
	height: 100%;
	cursor: pointer;
}
.collapsable.closed .sidebar {
	display: none;
}

/* fancy sidebar buttons */
.sidebar .fancybuttons {
	display: flex;
	flex-wrap: wrap;
}
.sidebar .fancybuttons div {
	margin-top: 0;
}
.sidebar .fancybuttons > div {
	display: grid;
	text-align: center;
	margin-top: 32px;
	width: calc(50% - 16px);
}
.sidebar .fancybuttons > div:nth-child(2n) {
	margin-left: 16px;
}
.sidebar .fancybuttons > div img {
	width: 72px;
	height: 72px;
	margin-right: 4px;
	grid-column: 1;
	grid-row: 1 / 4;
}
.sidebar .fancybuttons > div .name {
	font-size: 18px;
	grid-column: 2;
	grid-row: 1;
}
.sidebar .fancybuttons > div .status {
	font-size: 14px;
	grid-column: 2;
	grid-row: 2;
}
.sidebar .fancybuttons > div .button {
	font-size: 14px;
	border: 2px solid black;
	border-radius: 0.75em;
	grid-column: 2;
	grid-row: 3;
	width: 80px;
	height: 20px;
	margin: auto;
}
.sidebar .fancybuttons > div .button.buy {
	background: #FFDD36;
}
.sidebar .fancybuttons > div .button.sell {
	background: #FC4128;
	color: white;
}
.sidebar .fancybuttons > div .button.action {
	background: #4573B3;
	color: white;
}
.sidebar .fancybuttons > div .button.disabled {
	background: #999;
	color: #666;
}

/* generated map */
.map {
	width: 100%;
}
.map canvas {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.map canvas:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
/* Change cursor to hyperlink when needed */
.map canvas.clickable {
	cursor: pointer;
}

/* navigation bar */
nav {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;

	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: 4px;
	justify-content: center;

	background: #FFDD36;
	color: black;
	border-radius: 0 0 16px 16px;
	box-shadow: 0 4px 8px black;
}
nav a {
	text-decoration: none;
	display: inline;
	margin: 4px;
	padding: 4px 8px;
	border-radius: 8px;
	background: white;
}
nav #logo {
	font-weight: bold;
}

/* Pop-up advertisement for unregistered users */
.advertise {
	background: white;
	padding: 1em;
	border: 4px solid black;
	cursor: pointer;

	width: 80vw;
	max-width: 400px;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.advertise #logo {
	max-height: 400px;
	height: 30vh;
	padding: 1em;
}
#comingsoon {
	color: pink;
	font-size: 24pt;
	text-shadow: 2px 2px #3F3F00;
	animation: pop 0.58s infinite;
}
@keyframes pop {
	from { transform:scale(0.95) }
	50%  { transform:scale(1.00) }
	to   { transform:scale(0.95) }
}

/* work around issue w/ absolute centering */
@media (max-width: 1000px) {
	nav { width: 100vw; }
}
