/* stylesheet for pages w/ map */
body {
	font-family: sans-serif;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

/* generic classes */
.hidden {
	display: none !important;
}
.container {
	display: flex;
	align-items: stretch;
	height: 100%;
}

/* sidebar */
.sidebar {
	background: white;
	color: black;
	padding: 1em;
	font-size: 14pt;
	width: 400px;
	overflow-y: auto;
	box-sizing: border-box;
	height: 100vh;
}
.sidebar div {
	margin-top: 1ex;
}
.sidebar button, .sidebar label {
	font-size: 16pt;
	width: 20ex;
	margin: 1pt auto;
}
.sidebar h1 {
	text-align: center;
}
.sidebar canvas {
	margin: auto;
	display: block;
}
.sidebar > div > b {
	width: 120px;
	display: inline-block;
}

/* owner list is a little wacky */
.sidebar[data-id='tileinfo'] [data-id='owners'] {
	display: flex;
}
.sidebar[data-id='tileinfo'] [data-id='owners'] [data-id='list'] {
	display: flex;
	flex-direction: column;
	margin: 0;
}
.sidebar[data-id='tileinfo'] [data-id='owners'] [data-id='list'] a {
	margin-bottom: 4px;
}
.sidebar[data-id='tileinfo'] [data-id='owners'] [data-id='list'] a:last-child {
	margin-bottom: 0;
}

/* sidebar collapse */
.collapsable {
	position: absolute;
	display: flex;
	height: 100%;
	max-width: 100vw;
}
.collapsebtn {
	width: 32px;
	background: grey;
	height: 100%;
	cursor: pointer;
}
.collapsable.closed .sidebar {
	display: none;
}

/* fancy sidebar buttons */
.fancybuttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.fancybuttons div {
	margin-top: 0;
}
.fancybuttons > div {
	display: grid;
	text-align: center;
	margin-top: 32px;
	width: calc(50% - 16px);
}
.fancybuttons > div img {
	width: 72px;
	height: 72px;
	margin-right: 4px;
	grid-column: 1;
	grid-row: 1 / 4;
}
.fancybuttons > div .name {
	font-size: 18px;
	grid-column: 2;
	grid-row: 1;
}
.fancybuttons > div .status {
	font-size: 14px;
	grid-column: 2;
	grid-row: 2;
}
.fancybuttons > div .desc {
	font-size: 14px;
	grid-column: 3;
	grid-row: 1 / 4;
}
.fancybuttons > div .button {
	grid-column: 2;
	grid-row: 3;
	font-size: 14px;
	width: 80px;
}
.button {
	display: inline-block;
	border: 2px solid black;
	border-radius: 0.75em;
	width: 100px;
	height: 20px;
	margin: auto;
	padding-top: 3px;
	margin-top: 1ex;
	color: black;
	text-decoration: none;
	text-align: center;
}
.button.buy {
	background: #FFDD36;
}
.button.sell {
	background: #FC4128;
	color: white;
}
.button.action {
	background: #4573B3;
	color: white;
}
.button.disabled {
	background: #999;
	color: #666;
	cursor: default;
}

/* Sidebar lists */
.fancylist {
	display: flex;
	flex-direction: column;
}
.fancylist > div {
	display: grid;
	font-size: 14px;
	align-items: center;
	grid-auto-columns: 120px auto;
}
.fancylist > div img {
	grid-row: 1 / 3;
	grid-column: 1;
	width: 72px;
	height: 72px;
	margin: auto;
}
.fancylist > div .button {
	grid-row: 3;
	grid-column: 1;
	width: 80px;
}
.fancylist > div .name {
	grid-row: 1;
	grid-column: 2;
	font-size: 21px;
	text-align: center;
}
.fancylist .desc {
	grid-row: 2 / 4;
	grid-column: 2;
}

/* generated map */
.map {
	width: 100%;
}
.map canvas {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.map canvas:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
/* Change cursor to hyperlink when needed */
.map canvas.clickable {
	cursor: pointer;
}

/* navigation bar */
nav {
	position: absolute;
	right: 0;
	z-index: 10;

	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: 4px;
	justify-content: center;

	background: #FFDD36;
	color: black;
	border-radius: 0 0 0 16px;
	box-shadow: 0 4px 32px #00000099;
}
nav a {
	text-decoration: none;
	display: inline;
	margin: 4px;
	padding: 4px 8px;
	border-radius: 8px;
	background: white;
	color: black;
}
nav a[data-id='logo'] {
	font-size: 11px;
	font-weight: bold;
	font-style: italic;

	margin: 0;
	background: none;
}
nav a.disabled {
	background: #999;
	color: #666;
	cursor: default;
}

/* Pop-up advertisement for unregistered users */
.advertise {
	background: white;
	padding: 1em;
	border: 4px solid black;

	width: 80vw;
	max-width: 400px;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.advertise #logo {
	max-height: 400px;
	height: 30vh;
	padding: 1em;
}
#comingsoon {
	color: lightsteelblue;
	font-size: 24pt;
	text-shadow: 2px 2px #3F3F00;
	animation: pop 0.58s infinite;
	margin: 0;
}
@keyframes pop {
	from { transform:scale(0.95) }
	50%  { transform:scale(1.00) }
	to   { transform:scale(0.95) }
}
